<ng-container>
  <mat-toolbar color="primary" class="test-header">
    <span>Bowling Game Kata</span>
  </mat-toolbar>
  <br>
  <br>

      <mat-card >
        <br>
        <mat-card>
          <h1>Entrer la list de rolls: </h1>
          <br>
          <h2>
            respecter les formes suivants:
          </h2>
          <h3>
            exemple : "X X X X X X X X X X X X", pour (12 rolls: 12 strikes)
          </h3>
          <h3>
            exemple : "9- 9- 9- 9- 9- 9- 9- 9- 9- 9-", pour  (20 rolls: 10 pairs of 9 and miss)
          </h3>
          <h3>
            exemple : "5/ 5/ 5/ 5/ 5/ 5/ 5/ 5/ 5/ 5/5", pour (21 rolls: 10 pairs of 5 and spare, with a final 5)
          </h3>
          <br>
          <br>
          <br>
        <input style="width: 100%;" [(ngModel)]="rolls"/>
        </mat-card>
        <br>
        <br>
        <mat-card style="background-color: palegreen;" *ngIf="affichierReu">
          <span>ResultsByStep : </span>
          <pre>{{response}} </pre>
          <br>
          <mat-card style="background-color: palegreen;">
            <h3>SCORE : {{response[9]}} </h3>
          </mat-card>

        </mat-card>
        <br>
        <mat-card style="background-color: orange;" *ngIf="erroResp">
          <pre>{{erroResp}} </pre>
        </mat-card>
        <mat-card>
        <button (click)="startGame()">start game</button>
      </mat-card>

      </mat-card>

  <mat-toolbar color="primary" class="test-footer">2021 - M.D - </mat-toolbar>
</ng-container>
