.test-form {
  min-width: 150px;
  max-width: 30vw;
  width: 100%;
  margin-left: 8px;
}
.test-full-width {
  width: 100%;
}
.test-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.test-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}
.test-button-row {
  display: table-cell;
  width: 28vw;
  margin-left: 8px;
}
.test-button-row .mat-raised-button {
  margin: 8px 0px 8px 8px;
}
.test-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
textarea {
  /* will prevent resizing horizontally */
  resize:vertical;
  width: 100%;

}
.test-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

